node_modules

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
.fvm
AndroidManifest.xml
mobile-app/web3_delivery_payments/android/app/src/main/AndroidManifest.xml
